<style>
  .ng-invalid .ng-touched {
    border-color: #dc3545;
  }
</style>

<div class="content-wrapper login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>Invillia</b>JOGOS</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Logue-se para ter acesso ao sistema</p>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
          <div class="form-group">
            <label class="col-form-label" *ngIf="validateControl('username') && hasError('username', 'required')" for="username">
              <i class="far fa-times-circle"></i>
              Username is required
            </label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="username" formControlName="username">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user-alt"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label" *ngIf="validateControl('password') && hasError('password', 'required')">
              <i class="far fa-times-circle"></i>
              Password is required
            </label>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="password" formControlName="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">&nbsp;</div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Login</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
