<!--<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Template</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">-->
<!-- MENU DE NAVEGAÇÃO -->
<!--<ul class="navbar-nav flex-grow">
  <li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
  </li>
  <li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link text-dark" [routerLink]="['/administration/users']">Users</a>
  </li>
</ul>-->
<!-- FIM DO MENU DE NAVEGAÇÃO -->
<!-- MENU DE LOGIN -->
<!--<ul *ngIf='!isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/authentication/login']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/authentication/register']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Register</a>
  </li>
</ul>
<ul *ngIf='isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="logout()">Logout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/authentication/privacy']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"> Privacy </a>
  </li>
</ul>-->
<!-- FIM DO MENU DE LOGIN -->
<!--</div>
    </div>
  </nav>
</header>-->
<!-- Main Sidebar Container -->

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel mt-2 pb-3 mb-3 d-flex">
      <ul *ngIf='!isUserAuthenticated' class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/authentication/login']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-sign-in-alt text-blue"></i>
            <p>Login</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/authentication/register']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-check text-success"></i>
            <p>Register</p>
          </a>
        </li>
      </ul>
      <ul *ngIf='isUserAuthenticated' class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">
            <i class="nav-icon fas fa-sign-out-alt text-danger"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview">
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-unlock-alt"></i>
            <p>
              Administration
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/administration/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="nav-icon fas fa-user-alt"></i>
                <p>Users</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
